[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-bookmarks"]
	path = bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/xml-aligner"]
	path = bundle/xml-aligner
	url = https://github.com/BurnzZ/xml-aligner.git
[submodule "bundle/vim-tmux"]
	path = bundle/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = https://github.com/matze/vim-move.git
[submodule "bundle/vim-troll-stopper"]
	path = bundle/vim-troll-stopper
	url = https://github.com/vim-utils/vim-troll-stopper
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "bundle/InstantRst"]
	path = bundle/InstantRst
	url = https://github.com/gu-fan/InstantRst.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-solarized"]
	path = bundle/vim-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-livedown"]
	path = bundle/vim-livedown
	url = git://github.com/shime/vim-livedown.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "bundle/SimplylFold"]
	path = bundle/SimplylFold
	url = https://github.com/tmhedberg/SimpylFold.git
